html,
body,
ul,
li,
h1,
h2,
h3,
img,
p {
  margin: 0;
  padding: 0;
  font-size: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  height: 0.703125rem;
  width: 100%;
  background-color: #fff;
  position: relative;
  text-align: center;
  line-height: 0.703125rem;
}
header h1 {
  font-size: 0.21875rem;
}
header .city {
  float: left;
  position: absolute;
  left: 0.21875rem;
  color: #ce0192;
  line-height: 0.703125rem;
}
header .city i {
  position: absolute;
  left: 0.828125rem;
  top: 0.296875rem;
  border-top: 0.15625rem solid #ce0192;
  border-left: 0.15625rem solid transparent;
  border-right: 0.15625rem solid transparent;
}
header .headImg {
  float: right;
  position: absolute;
  top: 0.046875rem;
  right: 0.21875rem;
  width: 0.34375rem;
  height: 0.375rem;
}
header .headImg img {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
}
main .swipe {
  width: 100%;
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin-bottom: 0.140625rem;
}
main .swipe .swipe-wrap {
  overflow: hidden;
  position: relative;
}
main .swipe li {
  height: 3.03125rem;
  float: left;
  width: 100%;
  position: relative;
}
main .swipe li a {
  display: block;
  width: 100%;
  height: 100%;
}
main .swipe li a img {
  height: 3.03125rem;
  width: 100%;
}
main nav {
  height: 3.8125rem;
  width: 100%;
  padding: 0 0.078125rem;
}
main nav a {
  display: inline-block;
  text-align: justify;
}
main nav a img {
  width: 3.21875rem;
  height: 1.734375rem;
}
main .icon {
  height: 3.796875rem;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
main .icon a {
  display: block;
  width: 2.484375rem;
  height: 50%;
  float: left;
  border: 0.015625rem solid #ccc;
  box-sizing: border-box;
}
main .icon a img {
  width: 100%;
  height: 100%;
}
main .icon a:nth-child(n+5) {
  border-top: 0;
}
main .qzy {
  width: 100%;
  height: 3.515625rem;
  background-color: #f1f1f1;
  padding-top: 0.234375rem;
}
main .qzy .left {
  width: 50%;
  height: 100%;
  float: left;
  border-bottom: 0.015625rem solid #ccc;
  border-right: 0.015625rem solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
}
main .qzy .left a {
  display: block;
  width: 100%;
  height: 100%;
}
main .qzy .left a img {
  width: 100%;
  height: 100%;
}
main .qzy .right {
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
}
main .qzy .right a {
  display: block;
  width: 100%;
  height: 50%;
  border-bottom: 0.015625rem solid #ccc;
  box-sizing: border-box;
}
main .qzy .right a img {
  width: 100%;
  height: 100%;
}
main .qzy .right a:last-child {
  background-color: red;
}
main .hot {
  width: 100%;
  height: 0.78125rem;
  background-color: #f1f1f1;
  position: relative;
}
main .hot h1 {
  font-size: 0.21875rem;
  position: absolute;
  left: 0.3125rem;
  line-height: 0.78125rem;
}
main .hot-content ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .hot-content li {
  width: 100%;
  height: 1.875rem;
  border-top: 0.015625rem solid #ccc;
  border-bottom: 0.015625rem solid #ccc;
  box-sizing: border-box;
}
main .hot-content li a {
  display: block;
  width: 100%;
  height: 100%;
}
main .hot-content li a img {
  width: 100%;
  height: 100%;
}
main .hot-content li:nth-child(-n+3) {
  border-bottom: 0 none;
}
main .vacation {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
main .vacation .title {
  height: 0.6875rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 0.234375rem;
  border-top: 0.015625rem solid #ccc;
}
main .vacation .title a {
  font-size: 0.21875rem;
  text-decoration: none;
  color: #555;
  line-height: 0.6875rem;
  position: absolute;
  padding: 0 0.3125rem;
}
main .vacation .title a:hover {
  color: #d3079e;
  border-bottom: 0.03125rem solid #d3079e;
}
main .vacation .title a:first-child {
  float: left;
  left: 2.1875rem;
}
main .vacation .title a:last-child {
  float: right;
  right: 2.1875rem;
}
main .vacation .one {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .vacation .one a {
  display: block;
  width: 100%;
  height: 100%;
}
main .vacation .one a img {
  width: 100%;
  height: 4.09375rem;
  font-size: 0;
  vertical-align: middle;
}
main .vacation .one section {
  width: 100%;
  height: 0.9375rem;
  padding-left: 0.078125rem;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 0.015625rem solid #ccc;
  margin-bottom: 0.234375rem;
  background-color: #fff;
}
main .vacation .one section .t1 {
  color: #555;
  margin-top: 0.0625rem;
  line-height: 0.34375rem;
  font-size: 0.15625rem;
  box-sizing: border-box;
}
main .vacation .one section .t1 span:first-child {
  color: #d3079e;
}
main .vacation .one section .t2 {
  font-size: 0.21875rem;
  box-sizing: border-box;
  height: 0.59375rem;
}
main .vacation .more {
  margin-bottom: 0.234375rem;
  position: relative;
}
main .vacation .more a {
  display: block;
  width: 100%;
  height: 0.46875rem;
  text-align: center;
  line-height: 0.46875rem;
  background-color: #fff;
  color: #555;
}
main .vacation .more a i {
  border-left: 0.15625rem solid transparent;
  border-right: 0.15625rem solid transparent;
  border-top: 0.15625rem solid #ccc;
  position: absolute;
  top: 0.15625rem;
  left: 6.09375rem;
}
footer {
  width: 100%;
  height: 0.46875rem;
  background-color: #d3079e;
  font-size: 0.21875rem;
  position: relative;
}
footer .left {
  float: left;
  line-height: 0.46875rem;
}
footer .left a {
  display: block;
  float: left;
  position: absolute;
  color: #fff;
  font-weight: 700;
}
footer .left a:first-child {
  left: 0.15625rem;
}
footer .left a:last-child {
  left: 1.25rem;
}
footer .right {
  float: right;
  line-height: 0.46875rem;
}
footer .right a {
  display: block;
  position: absolute;
  right: 0.15625rem;
  color: #fff;
  font-weight: 700;
}
